.about {
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}
.about p {
    color: white;
}
.about .seb_content {
    display: flex;
    padding: 2rem 0;
}

.about img {
    width: 100%;
}
.about .text {
    margin-right: 3rem;
}

.about h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    
}


@media only screen and (max-width: 560px) {
    .about .seb_content {
        display: block;
    }
    
    .about .text {
        margin-bottom: 2rem;
    }
}
